.footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 40px 40px;
    margin-top: 5px;
}

.footer-left {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.footer-left h3 {
    color: #fff;
    font: 24px cursive !important;
    margin: 0 !important;
    padding: 0 !important;
}

.footer-left h3 span {
    color: #5383d3;
}

.footer-left .footer-links {
    color: #fff !important;
    margin: 20px 0 12px;
    padding: 0;
    font-size: 15px !important;
}

.footer-left .footer-links a {
    display: inline-block;
    line-height: 1.8;
    margin-right: 2px;
    margin-left: 1px;
    text-decoration: none;
    color: #fff !important;
}

.footer-center {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.footer-center i {
    background-color: #33383b;
    color: #fff;
    font-size: 25px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
    display: inline-block;
}

.footer-center i.fa-envelope {
    font-size: 16px;
    line-height: 37px;
}

.footer-center p {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin: 0;
    font-size: 14px;
}

.footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
}

.footer-center p a {
    color: #5383d3;
    font-size: 11.5px;
}

.footer-right {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.footer-right .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.footer-right .footer-company-about span {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-right .footer-icons {
    margin-top: 25px;
}

.footer-right .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 950px) {
    .footer {
        padding: 40px 15px;
    }
}

@media (max-width: 800px) {
    .footer {
        padding: 40px 10px;
        font: bold 16px sans-serif;
    }
}

@media (max-width: 800px) {
    .footer-left,
    .footer-center,
    .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-right {
        margin-bottom: 0px;
    }
}