.account-section {
    width: 100%;
    position: relative;
}

.order-page {
    width: 100%;
    position: relative;
    border-radius: 2px;
}

.order-page .order-title {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.order-page .order-title span {
    font-size: 17px;
    font-weight: 500;
}

.order-page .order-title .subtotal-div {
    display: flex;
    background: #ff9800;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.order-page .order-title .subtotal-div .subtotal:first-of-type {
    /* margin: 0; */
    /* padding: 0; */
    margin-right: 5px;
    /* height: 20px; */
    /* line-height: 1; */
}

.order-page .order-food {
    display: block;
}

.order-page .order-food .order-date-wrapper {
    width: 100%;
    border-top: 1px solid #dbdbdb;
    background: #333;
    color: #fff;
    line-height: 40px;
    padding-left: 16px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    justify-content: space-between;
}

.order-page .order-food .order-date-wrapper .cart-button {
    margin-right: 3px;
    margin-top: 2px;
}

.order-page .order-food .order-product-wrapper {
    padding: 16px;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    transition: box-shadow .1s linear;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 0 0 0 rgba(0,0,0,.15);
    margin-bottom: 8px;
}

.order-page .order-food .order-product-wrapper .order-product-details {
    width: 50%;
}

.order-page .order-food .order-product-wrapper .order-product-details>div {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.order-page .order-food .order-product-wrapper .order-product-details .order-product-image {
    width: 30%;
    padding-right: 10px;
}

.order-page .order-food .order-product-wrapper .order-product-details .order-product-image img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.order-page .order-food .order-product-wrapper .order-product-details .order-product-summary {
    width: 61.6%;
}

.order-page .order-food .order-product-wrapper .order-product-details .order-product-summary .order-product-name {
    box-shadow: none;
    padding: 0;
    border: none;
    font-size: 14px;
    color: #212121;
    margin-bottom: 10px;
    font-weight: 400;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-page .order-food .order-product-wrapper .order-product-details .order-product-summary .order-product-type {
    color: #878787;
    font-size: 12px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-page .order-food .order-product-wrapper .order-product-cost {
    width: 16.6%;
    color: #212121;
    text-transform: uppercase;
    overflow: hidden;
}

.order-page .order-food .order-product-wrapper .order-product-from {
    width: 33.3%;
    display: flex;
    flex-direction: column;
}

.order-page .order-food .order-product-wrapper .order-product-from span {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 700px) {
    .order-page .order-food .order-product-wrapper .order-product-from {
        width: 100%;
    }

    .order-page .order-food .order-product-wrapper .order-product-details {
        width: 79%;
    }
}

@media (max-width: 520px) {
    .order-page .order-food .order-product-wrapper .order-product-details {
        width: 100%;
    }
}